version: '3'

services:

  html:
    build:
      context: html-docker
    volumes:
      - html:/output
    networks:
      - {{ namespace }}

  mariadb:
    image: {{ mariadb['image']['repository'] }}:{{ mariadb['image']['tag'] }}
    volumes:
      - mysql:/var/lib/mysql
      - ../chart/etc/my.cnf:/etc/mysql/my.cnf:ro
    env_file: 
      - mariadb.env
    healthcheck:
      test: ["CMD", "sh", "-c", "mysqladmin status -uroot -p$${MYSQL_ROOT_PASSWORD}"]
      interval: 1s
      timeout: 1s
      retries: 60
    networks:
      - {{ namespace }}

  phpfpminit:
    build:
      context: phpfpm-docker
      target: init
    volumes:
      - html:/var/www/html
      - moodledata:/var/www/moodledata
      - ../chart/etc/php.ini:/usr/local/etc/php/php.ini:ro
      - ../chart/etc/php-fpm.conf:/usr/local/etc/php-fpm.d/zzz_custom.conf:ro
    env_file: 
      - phpfpminit.env
    depends_on:
      mariadb:
        condition: service_healthy
      html:
        condition: service_completed_successfully
    networks:
      - {{ namespace }}

  phpfpm:
    build:
      context: phpfpm-docker
      target: prod
    volumes:
      - html:/var/www/html
      - moodledata:/var/www/moodledata
      - ../chart/etc/php.ini:/usr/local/etc/php/php.ini:ro
      - ../chart/etc/php-fpm.conf:/usr/local/etc/php-fpm.d/zzz_custom.conf:ro
    depends_on:
      phpfpminit:
        condition: service_completed_successfully
    healthcheck:
        test: pidof php-fpm
        interval: 1s
        timeout: 1s
        retries: 60
    networks:
      - {{ namespace }}

  nginx:
    image: {{ nginx['image']['repository'] }}:{{ nginx['image']['tag'] }}
    ports: 
      - {{ dc['port'] }}:80
    volumes:
      - html:/var/www/html
      - moodledata:/var/www/moodledata
      - ../chart/etc/nginx-site.conf:/etc/nginx/conf.d/default.conf:ro
      - ../chart/etc/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      phpfpm:
        condition: service_healthy    
    networks:
      - {{ namespace }}

  {% if plugins['coderunner']['enabled'] %}
  jobe:
    image: {{ jobe['image']['repository'] }}:{{ jobe['image']['tag'] }}
    volumes:
      - html:/var/www/html
      - moodledata:/var/www/moodledata
      - ../chart/etc/config.php:/var/www/html/jobe/application/config/config.php:ro
    networks:
      - {{ namespace }}  
  {% endif %}

networks:
  {{ namespace }}:
    driver: bridge

volumes:
  html:
  moodledata:
  mysql: