{%- set svc = 'mariadb' -%}
{% if secret is defined and secret is mapping and svc in secret -%}
{% for k, v in secret[svc].items() -%}
{{ k }}={{ v }}
{% endfor -%}
{%- endif %}

{% if env is defined and env is mapping and svc in env -%}
{% for k, v in env[svc].items() -%}
{{ k }}={{ v }}
{% endfor -%}
{%- endif %}