{%- set svc = 'phpfpminit' -%}
{% for k, v in secret[svc].items() -%}
{{ k }}={{ v }}
{% endfor -%}

{% for k, v in env[svc].items() -%}
{{ k }}={{ v }}
{% endfor -%}

{% for k, v in dc['env'][svc].items() -%}
{{ k }}={{ v }}
{% endfor -%}