{% macro render_section(section_name, section_data) -%}
{{ section_name }}:
{%- for key, value in section_data.items() %}
  {%- if value is mapping %}
  {{ render_section(key, value) | indent(2) }}
  {%- else %}
  {{ key }}: {{ value | tojson | safe }}
  {%- endif %}
{%- endfor %}
{%- endmacro %}

{% if subcharts is defined and subcharts is mapping -%}
{% for subchart_name, subchart_data in subcharts.items() %}
{{ render_section(subchart_name, subchart_data) }}
{% endfor %}
{%- endif %}


etc:
{%- for k, v in etc.items() %}
  {{ k }}: {% if v %}|-
    {{ v | indent(4) }}
  {%- else %}""{% endif %}
{%- endfor %}


pvc:
{%- for k, v in pvc.items() %}
  {{ k }}: 
  {%- for kk, vv in v.items() %}
    {{ kk }}: {{ vv }}
  {%- endfor %}
{%- endfor %}


global:
  {%- with e = global["existingPvc"] %}
  existingPvc:
    {%- for p, n in e.items() %}
      {{ p }}: {% if n %}{{ n }}{% else %}""{% endif %}
    {%- endfor %}
  {%- endwith %}
  htmlImage: {{ registry }}/{{ namespace }}_html
  phpfpminitImage: {{ registry }}/{{ namespace }}_phpfpminit

{% if secret is defined and secret is mapping -%}
secret:
{%- for k, v in secret.items() %}
  {{ k }}:
  {%- for kk, vv in v.items() %}
    {{ kk }}: {{ vv }}
  {%- endfor %}
{%- endfor %}
{%- endif %}

{% if env is defined and env is mapping -%}
env:
{%- for k, v in env.items() %}
  {{ k }}: 
  {%- for kk, vv in v.items() %}
    {{ kk }}: {{ vv }}
  {%- endfor %}
{%- endfor %}
{%- endif %}

